<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let user"><a routerLink="/users/{{ user.id }}" routerLinkActive="active"> {{user.name}} </a></mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.address}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="work_number">
    <mat-header-cell *matHeaderCellDef> Work Number </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.work_number}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="personal_number">
    <mat-header-cell *matHeaderCellDef> Buttons </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <a routerLink="/users/add/{{ user['id'] }}" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="build icon">build</mat-icon></a>
      <a routerLink="/users/delete/{{ user['id'] }}" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon></a>
      <a routerLink="/users/roles/{{ user['id'] }}" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="roles icon">storage</mat-icon></a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
  <mat-paginator [length]="25"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div>
