<h1>
    Create new User:
</h1>
<div class="form-group">
    <mat-form-field>
    <label for="name">Name</label>
    <input id="name" matInput class="form-control" name="name" [(ngModel)]="role.name" required minlength="4" #name="ngModel"/>
    </mat-form-field>
     <div class="form-control-feedback"
          *ngIf="name.errors && (name.dirty || name.touched)">
         <p *ngIf="name.errors.required">Name is required</p>
         <p *ngIf="name.errors.minlength">Name must have more than 4 symbols</p>
     </div>
  </div>
<div>
<mat-checkbox *ngFor="let permission of permissions" name="permission[]" [value]="permission['id']" (change)="onCkeckboxSelected($event.source.value)">{{ permission['name'] }}</mat-checkbox>
</div>
  <div class="form-group">
    <button mat-button (click)="addRole()">Добавити</button>
  </div>
<div><h3>Added Elements</h3>
  <ul *ngFor="let p of roles">
    <li>{{p.name}} ({{p.email}}) - {{p.primary_number}}</li>
  </ul>
</div>
