<div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-icon [ngClass]="(isSelected() === true) ? 'changed_row' : 'not_changed_row'" (click)="DeleteSelected()" aria-hidden="false" aria-label="delete icon">delete</mat-icon>
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let client"><a routerLink="/clients/{{ client.id }}" routerLinkActive="active"> {{client.name}} </a></mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.email}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="primary_number">
            <mat-header-cell *matHeaderCellDef> Primary Number </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.primary_number}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="secondary_number">
            <mat-header-cell *matHeaderCellDef> Secondary Number </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.secondary_number}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.address}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="zipcode">
            <mat-header-cell *matHeaderCellDef> Zipcode </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.zipcode}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="industry">
            <mat-header-cell *matHeaderCellDef> Buttons </mat-header-cell>
            <mat-cell class="buttons" *matCellDef="let client">
                <a routerLink="/clients/add/{{ client['id'] }}" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="build icon">build</mat-icon></a>
                <a routerLink="/clients/delete/{{ client['id'] }}" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon></a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>

    </mat-table>
    <mat-paginator [length]="25"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>
</div>
