@import '~@angular/material/prebuilt-themes';

@include mat-core();

$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent: mat-palette($mat-pink, A200, A100, A400);

$my-theme-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-theme-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme-theme);


