.container {
    background-color: rgba(0,0,0,.32);
    width: 50%;
    margin-left:25%;
}
.authorize {
    margin-left:30%
}
.login {
    background-color: #337ab7;
    width:150px;
    position: relative;
    left:30%;
    bottom:20%;
}
.main {
    margin-left: 50px;
}
